#main_content_container {
  margin: 0 auto;
  background-color: #f0f0f0;
  margin-top: 4rem;
}

.main_category {
  margin: 15px 0;
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
}
